<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--
Guitar Template is provided by www.tooplate.com
-->
<title>Centri ACME</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="css/tooplate_style.css" rel="stylesheet" type="text/css" />
<link href="css/coda-slider.css" rel="stylesheet" type="text/css" charset="utf-8" />

<script src="js/jquery-1.2.6.js" type="text/javascript"></script>
<script src="js/jquery.scrollTo-1.3.3.js" type="text/javascript"></script>
<script src="js/jquery.localscroll-1.2.5.js" type="text/javascript" charset="utf-8"></script>
<script src="js/jquery.serialScroll-1.2.1.js" type="text/javascript" charset="utf-8"></script>
<script src="js/coda-slider.js" type="text/javascript" charset="utf-8"></script>
<script src="js/jquery.easing.1.3.js" type="text/javascript" charset="utf-8"></script>

</head>
<body>
	
    <div id="slider">
    <div id="tooplate_wrapper">
    	
        <div id="tooplate_sidebar">
        
            <div id="header">
               <a href="/user"> USER</a> | <a href="/admin">ADMIN</a>
            </div>    
			
            <div id="menu">
                <ul class="navigation">
                    <li><a href="#home" class="selected menu_01">Home</a></li>
                    <li><a href="#Chi siamo" class="menu_02">Chi siamo</a></li>
                    <li><a href="#Offerta formativa" class="menu_03">Offerta formativa</a></li>

                </ul>
            </div>
		</div> <!-- end of sidebar -->
    
        <div id="content">
            <div class="scroll">
                <div class="scrollContainer">
                
                    <div class="panel" id="home">
                    	<div class="content_section">
                            <h2><i><b>Centri E.M.M.A.</b></i></h2>    
                            
                            
                            <p><em>Centri E.M.M.A. e' una societa' che si occupa di formare i lavoratori di domani</em></p>	
                         </div>
                         <div class="content_section last_section">   
                         	<h2><i><b>Perché sceglierci?</b></i></h2>
                                <p>I nostri corsi non si limitano a fornire mere informazioni didattiche, ma,
								accompagnando la teoria alla pratica, preparano gli allievi ad una reale crescita professionale
								fondata su basi concrete.</p>
								
						</div>
                    </div> <!-- end of home -->
                    
                    <div class="panel" id="about">
                    	<div class="content_section">
                            <h1><I><B>Chi siamo</B></I></h1>
                            <p><em>Centri E.M.M.A. nasce nel 2020 proponendo corsi di ogni tipo</em></p>
							<p>L’obiettivo primario dei nostri corsi è formare allievi offrendo al mercato articoli e servizi che rispecchino standard qualitativi
							   nettamente superiori alla concorrenza nazionale, rispondendo al contempo alle esigenze delle società e del pubblico.
                            
                            
						</div>
                        <div class="content_section last_section">
                            <blockquote>
                            <p></p>
                           
							</blockquote>
                        </div>
                    </div>
                    
                    <div class="panel" id="services">
                        <h1><I><B>Offerta formativa</B></I></h1>
                        <p><em></em></p>
                        
                        <p></p>
                        <div class="cleaner_h20"></div>
                        <ul class="service_list">
                            <li><a href="/tuttelecorso" >Corsi</a></li>
                            <li><a href="/tuttiCentri">Centri</a></li>
                        </ul>
                    </div>

                
                    <div class="panel" id="contact">
                        <h1><I><B>Accedi</B></I></h1>
                 
                        <div class="cleaner_h10"></div>
                                                
                        <div class="col_380 float_l">

                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- end of scroll -->
        </div>
        <div class="cleaner"></div>
    </div> <!-- end of content -->
    <div class="cleaner"></div>
</div>

<div id="footer">

    
    
		
</div>

</body>
</html>